.main {
  display: flex;
  flex-wrap: nowrap;
  color: white;
  background-color: black;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 20px;
}

.nav {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  color: white;
  background-color: darkgray;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  width: 500px;
  height: 30px;
  border-radius: 10px;
  z-index: 10;
}